@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

button {
    background-color: chocolate;
    border: none;
    color: white;
    padding: 5px;
}

nav {
    padding: 10px;
}

nav a, main a {
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: white;
    animation: changeColor 2s linear;
}

@keyframes changeColor {
    from { color: black; }
    to { color: white; } 
}

body {
    margin: 20px;
    font-family: 'Gayathri', sans-serif;
}

main {
    min-height: 300px;
}

.fotoReceta {
    height: 200px;
    display: block;
    margin: auto;
}

.fotoAlimentos {
    height: 150px;
    display: block;
    margin: auto;
}

header, footer {
    background-color: black;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    color: white;
}

footer a {
    color: white;
}

form {
    background-color: rgb(235, 235, 235);
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1%;
    padding: 2rem;
}

input {
    margin: 5px;
    border-radius: 5px;
    min-height: 2rem;
}

.fotosClientes {
    display: grid;
    grid-template-areas: "img img img" "img img img";
    justify-content: center;
    margin: 1rem auto;
    grid-gap: 1rem;
}

.linkMapa {
    font-size: 0.8rem;
    background-color: black;    
}

.mapas {
    display: grid;
    grid-template-areas: "i i i i";
    justify-content: center;
    grid-gap: 1rem;
}

.fotosClientes img{
    max-height: 12rem;
}

@media screen and (max-width: 1280px) {
    .fotosClientes {
        grid-template-areas: "img img" "img img" "img img";
    }

    .mapas {
        grid-template-areas: "i i" "i i";
    }
}

@media screen and (max-width: 800px) {
    .fotosClientes {
        grid-template-areas: "img";
    }

    nav {
        font-size: 0.72em;
    }

    .mapas {
        grid-template-areas: "i";
    }
}