button {
    background-color: chocolate;
    border: none;
    color: white;
    padding: 5px;
}

h1 {
    text-align: center;
}

body {
    margin: 10px;
}

.alturaBody {
    min-height: 300px;
}

.fotoReceta {
    height: 200px;
}

.fotoAlimentos {
    height: 150px;
}

header, footer {
    background-color: orange;
}

footer {
    text-align: center;
    padding: 15px;
}